body {
    text-align: center;
    font-family: monospace;
}
h1 {
    color: yellowgreen;
}
ul {
    width: 70%;
}
#cabecera {
    background-color: yellowgreen;
    padding: 10px;
    text-align: right;
}

#cabecera img {
    border-radius: 10px;
}